body{
    /* background-image: url('../Images/1.jpg'); */
    /* background-size:cover; */
    width:99%;
    height:99%;
    color: #fff;
    font-family: Impact, Charcoal, sans-serif;
    background-color:#000;
}

body .loopPlay{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 1;
    animation-name:fadein;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}

@keyframes fadein{
    0%{opacity:0}
    50%{opacity:1}
    100%{opacity:0}
}

body .wrap{
    position: absolute;
    top: 0;
    left: 50%;
    width:75%;
    height: 100%;
    margin: 0 auto;
    border:1px solid transparent;
    border-radius: 10px;
    box-shadow:5px 5px 10px 5px #000;
    z-index: 2;
    transform:translateX(-50%);
    text-align: center;
}
body .wrap .HelloWorld{
    width: 99.5%;
    height: 30px;
    line-height: 30px;
    border:1px solid transparent;
    background: #000;
    opacity: 0.6;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 5px #000;
    opacity: 0.6;
    word-spacing: 5px;
    font-weight: bolder;
    font-family: '楷体';
    font-size:20px;
    color:#fff;
}

body header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: transparent;
    z-index: 3;
    text-align: center;
    line-height: 100px;
    box-shadow: 3px 3px 3px 3px #000;
    opacity: 0.6;
    font-size: 30px;
}

body footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: transparent;
    z-index: 3;
    text-align: center;
    line-height: 100px;
    box-shadow: -3px -3px 3px 3px #000;
    opacity: 0.6;
    font-size: 30px;
}

.wrap .main{
    margin-top:10px;
}
.wrap .main section.content{
    font-family: '楷体';
    font-size:50px;
    margin-top:20px;
}