@charset "UTF-8";
body aside.aside {
  /* wechat模态框 */
}

body aside.aside #myModal {
  background-color: rgba(0, 0, 0, 0.3);
}

body aside.aside #myModal .modal-dialog {
  border: none;
  border-radius: 15px;
}

body aside.aside #myModal .modal-dialog .modal-content {
  border: none;
  border-radius: 15px;
}

body aside.aside #myModal .modal-dialog .modal-content .modal-header h4 {
  text-shadow: 3px 3px 3px #992400;
}

body aside.aside #myModal .modal-dialog .modal-content .modal-header button.close {
  border: 1px solid #000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 1px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 3px #000;
}

body aside.aside #myModal .modal-dialog .modal-content .modal-body {
  padding: 0;
}
